/atom/.apm
/atom/blob-store
/atom/packages
/atom/recovery
atom/split-diff
/composer/cache
/composer/vendor
/composer/.htaccess
/composer/auth.json
/composer/composer.lock
/composer/config.json
/config/Code/Backups
/config/Code/blob_storage
/config/Code/Cache*
/config/Code/GPUCache
/config/Code/Local Storage
/config/Code/logs
/config/Code/User/globalStorage
/config/Code/User/workspaceStorage
/config/Code/webrtc_event_logs
/config/Code/*.sock
/config/Code/Cookies*
/config/Code/languagepacks.json
/config/Code/machineid
/config/Code/Network Persistent State
/config/Code/Preferences
/config/Code/storage.json
/config/hub
/gnupg/*
!/gnupg/*.conf
/ssh/id_ecdsa
/ssh/id_rsa
/ssh/known_hosts
secrets
/vim/.netrwhist
