/atom/.apm
/atom/blob-store
/atom/packages
/atom/recovery
atom/split-diff
/Brewfile.lock.json
/composer/cache
/composer/vendor
/composer/.htaccess
/composer/auth.json
/composer/composer.lock
/composer/config.json
/config/Code/Backups
/config/Code/blob_storage
/config/Code/Cache*
/config/Code/Crashpad*
/config/Code/DawnCache
/config/Code/GPUCache
/config/Code/Local Storage
/config/Code/logs
/config/Code/Service Worker
/config/Code/Session Storage
/config/Code/TransportSecurity
/config/Code/User/**/globalStorage
/config/Code/User/workspaceStorage
/config/Code/webrtc_event_logs
/config/Code/*.sock
/config/Code/*.lock
/config/Code/Cookies*
/config/Code/Code Cache
/config/Code/databases
/config/Code/languagepacks.json
/config/Code/machineid
/config/Code/Network Persistent State
/config/Code/Preferences
/config/Code/rapid_render.json
/config/Code/VideoDecodeStats
/config/Code/shared_proto_db
/config/Code/storage.json
/config/Code/User/History
/config/Code/User/sync
/config/Code/QuotaManager*
/config/Code/WebStorage/QuotaManager*
/config/configstore/update-notifier-*
/config/gcloud/logs
/config/gcloud/virtenv
/config/gcloud/.*
/config/hub
/config/iterm2/AppSupport
/config/jgit
/config/Microsoft*VisualStudio Services
/config/qBittorrent
/gnupg/*
!/gnupg/*.conf
/ssh/id_ecdsa
/ssh/id_rsa
/ssh/known_hosts
secrets
/vim/.netrwhist
